body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

*{
  font-family: 'Open Sans', sans-serif;
  font-size:semi-bold;
}

/* header */
header{
  background: #0D325A;
  width:100%;
  height: 500px;
  margin-right: 0;
}

/* sezione superiore header */
.containerheader1{
  width:100%;
  position:relative;
}

.containerheader1::after{
  content:"";
  display:table;
  clear:both;
}

/* regole generali */
div.logo,
div.navbar,
div.login{
  margin-bottom:83px;
  float:left;
  height:50px;
  margin-top: 10px;
}

/* logo */
div.logo{
  width:20%;

}

div.logo img{
  width: 30%;
  height: 100%;
  margin-left:70%;
}
/* |logo */

/* navbar */
div.navbar{
  float:left;
  width:35%;
  margin-top: 15px;
}

div.navbar ul{
  list-style-type: none;
}

div.navbar ul li{
  display:block;
  float:left;
  margin-right:40px;
  text-transform:uppercase;
  color:white;
  font-size: bolder;
  font-size:12px;
}

div.navbar ul li a:hover{
  color:orange;
}

div.navbar ul li a{
  text-decoration: none;
  color:white;
}
/* |navbar */

/* login */
div.login{
  padding:6px;
  width:30%;
  margin-top:15px;
}

div.login span{
  font-size: 11px;
  text-transform: uppercase;
  color:rgba(255,255,255,.5);
}

#log{
  display: inline-block;
  background:#0D325A;
  color:white;
  padding: 8px 25px;
  margin:0 10px;
  border-radius:5px;
  border:1px solid #4e8cb6;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
}

#plan{
  text-transform: uppercase;
  padding: 8px 10px;
  background:#7fb802;
  color:white;
  font-size: bold;
  border-radius:5px;
  border:0;
  font-size: 11px;
  text-decoration: none;
}
/* |login */

/* |sezione superiore header */

/* sezione inferiore header */

/* study-eng */
div.studyeng{
  float:left;
  height:340px;
  width:50%;
  position:relative;
  /* background:orange; */
}

div.studyeng h1{
  color:white;
  font-style: italic;
  position:absolute;
  top:25%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 35px;
}

div.studyeng a{
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px;
  background:#7fb802;
  color:white;
  font-size: bold;
  border-radius:10px;
  border:0;
  position:absolute;
  top:60%;
  left:35%;
  transform: translate(-50%,-50%);
}
/* |study-eng */

div.sfondoheader{
  float:left;
  height:340px;
  width:50%;
}

div.sfondoheader img{
  width:100%;
  height: 100%;
}
/* |sezione inferiore header */

/* |header */

/* prima sezione */
section.grey{
  background:#f9f9f9;
  width: 100%;
  height:140px;
}

div.school{
  display: inline-block;
  width: 100%;
  height:120px;
  position:relative;

}

.school h2{
  text-align: center;
  color:#373a3c;
}

.school h4{
  text-align: center;
  color:#999999;
}
/* |prima sezione */

/* seconda sezione */
section.tre-col{
  width: 100%;
  height:500px;
  /* background: pink; */
}

.cont-tre-col{
  width: 100%;
  height: 100%;
  /* background:orange; */
}

.cont-tre-col::after{
  content:"";
  display: table;
  clear:both;
}

.tre-col-uno,
.tre-col-due,
.tre-col-tre{
  float:left;
  height: 100%;
  width:30%;
}

p.text-col{
  width: 60%;
  position: absolute;
  top:70%;
  left:30%;
  color:#999999;
  font-size: 13px;
}

/* colonna1 */
.tre-col-uno{
/* background-color: red; */
position: relative;
margin-left: 5%;
}

.tre-col-uno img{
  width: 30%;
  height: 30%;
  position: absolute;
  top:25%;
  left:60%;
  transform: translate(-50%,-50%)
}

.text-col-1 h3{
  color: #7fb802;
  position: absolute;
  top:50%;
  left:60%;
  transform: translate(-50%,-50%);
  text-align: center;
}

hr.col1{
  width: 25px;
  position: absolute;
  top:65%;
  left:60%;
  transform: translate(-50%,-50%)
}

p.par-col1{
  width: 60%;
  position: absolute;
  top:70%;
  left:35%;
  color:#999999;
  font-size: 13px;
}

/* |colonna1 */

/* colonna2 */
.tre-col-due{
position:relative;
}

.tre-col-due img{
  width: 35%;
  height: 35%;
  text-align: center;
  position: absolute;
  top:25%;
  left:50%;
  transform: translate(-50%,-50%)
}

.text-col-2 h3{
  color: #7fb802;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

hr.col2{
  width: 25px;
  position: absolute;
  top:65%;
  left:50%;
  transform: translate(-50%,-50%)
}

p.par-col2{
  width: 60%;
  position: absolute;
  top:70%;
  left:23%;
  color:#999999;
  font-size: 13px;
}
/* |colonna2 */

.tre-col-tre{
  position: relative;
}

.tre-col-tre img{
  width: 30%;
  height: 30%;
  text-align: center;
  position: absolute;
  top:25%;
  left:40%;
  transform: translate(-50%,-50%)
}

.text-col-3 h3{
  color: #7fb802;
  position: absolute;
  top:50%;
  left:40%;
  transform: translate(-50%,-50%);
  text-align: center;
}

hr.col3{
  width: 25px;
  position: absolute;
  top:65%;
  left:40%;
  transform: translate(-50%,-50%)
}

p.par-col3{
  width: 60%;
  position: absolute;
  top:70%;
  left:15%;
  color:#999999;
  font-size: 13px;
}


/* |seconda sezione */
hr.divisore{
  margin-top: 10px;
  margin-bottom: 10px;
  border:0;
  border-top:1px solid rgba(0, 0, 0, 0.1);
  display:block;
  width: 98%;
}
/* terza sezione */
section.struttura-piano{
  width: 100%;
  height:700px;

}

div.cont-strut-piano{
  width: 100%;
  height: 100%;
}

div.cont-strut-piano::after{
  content: "";
  display: table;
  clear: both;
}

div.scalata,
div.scopri-livello,
div.uomo-donna{
  float:left;
}

div.scalata,
div.scopri-livello{
  width: 50%;
  height: 75%;
}

/* primo blocco terza sezione */
div.scalata{
  /* background: lightblue; */

}

div.scalata img{
  width: 100%;
  height: 80%;
  margin-top: 5%;
  margin-left: 15%;
}
/* primo blocco terza sezione */

/* secondo blocco terza sezione */

div.scopri-livello{
  /* background:green; */
}

.scopri-livello h1{
  color:#4a4a4a;
  width: 40%;
  margin-left: 10%;
  margin-top: 18%;
  font-size: 28px;
}

div.scopri-livello p{
  width: 40%;
  color:#999999;
  margin-left: 10%;
  margin-top: 1%;
}

div.scopri-livello a{
  color:#98c8f8;
  margin-left: 10%;
}
/* secondo blocco terza sezione */
div.uomo-donna{
  width: 100%;
  height: 25%;
  background:red;
}

.uomo-donna h3{
  color:#4a4a4a;

}




/* |terza sezione */

/* footer */
/* footer parte superiore */
div.upper{
  margin-top: 50px; /* WARNING: da rimuovere alla fine */
  width: 100%;
  height: 120px;
  background-color: #0F335A;
  position:relative;
}

.upper h1{
  display:inline-block;
  color: white;
  position:absolute;
  top:1%;
  left:9%;
}

footer h1>span{
  color:orange;
}

.upper h3{
  color:rgba(255,255,255,.5);
  position:absolute;
  top:45%;
  left:9%;
  font-size: 18px;
}
/* |footer parte superiore */

/*footer parte inferiore  */
footer div.globale-contatti{
  width: 100%;
  height: 350px;
  background-color: #17406B;
}

.globale-contatti{
  content:"";
  display:table;
  clear:both;
}

div.terms,
div.contact{
  float:left;
  width: 50%;
  height:350px;
}

footer ul{
  position:absolute;
  top:10%;
}

/* primo contenitore footer parte inferiore */
div.terms{
  position: relative;
}

.terms ul{
  left:30%;
}

.terms ul li{
  list-style-type: none;
  color:white;
  padding: 5px;
}

.terms ul li:first-child{
  font-size: 12px;
  font-weight:bold;
}

.terms ul li a{
  text-decoration:none;
  color:rgba(255,255,255,.5);
}
/* |primo contenitore footer parte inferiore */

/* secondo contenitore footer parte inferiore */

div.contact{
  position:relative;
}

div.contact ul{
  padding:10px;
  width: 50%;
  left:5%;
}

.contact ul li{
  list-style-type: none;
  padding:10px;
}

.contact ul li:nth-child(1),
.contact ul li:nth-child(2){
  color:white;
  font-size: 17px;
}

.contact ul li:nth-child(3){
  color:rgba(255,255,255,.5);
}
/* |secondo contenitore footer parte inferiore */

/*footer parte inferiore  */
/* |footer */
